@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*variaveis----------------------------------*/
:root {
    --header-height: 3rem;
    --font-medium: 300;
}

/*cores--------------------------------------*/
:root {
    --first-color: #26569F;
    --first-colorh: #1B3578 ;
    --btn-color: #04D361;
    --btn-colorh: #02A34A;
    --btn-error-color:#E33D3D;
    --btn-error-colorh:#B43131;
    --white-text: #f1f1f1;
    --white: #fff;
    --dark-text: #333;
    --dark-text-light: #a19f9f;
    --background-secondary-color: #F0F0F7;
    --text-secondary-color: #11174D;
    --border-color: #E6E6F0;
    --background-color: #fbfbff;
    --text-color: #26284D;
    --text-color-card: #6A6180;
    --line-color: #E6E6F0;
    --color-form: #FAFAFC;
    --color-text-form: #C1BCCC;
}

/*tipografia--------------------------------------*/
:root {
    --body-font: 'Roboto', sans-serif;
    --title-font: 'Ubuntu', sans-serif;
    --big-font-size: 6.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html,
body {
    height: 100vh;
}

body {
    background-color: var(--first-color);

    display: flex;
    align-items: center;
    justify-content: center;
} */

body,
input,
button,
textarea {
    font-weight: 500;
    font-family: var(--body-font);
    color: var(--white-text);
    font-size: 1.6rem;
}

#container {
    width: 90vw;
    max-width: 700px;
}
@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}

/* Plugin Libras */
[vw-access-button] .access-button {
    width: 27%;
    float: right;
    border-radius: 50%;
    border: 4px solid var(--btn-color);
}
[vw] [vw-access-button] .access-button {
    width: 55px;
    float: right;
}