<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EvenTec</title>
    <link rel="stylesheet" href="./css/global.css">
    <link rel="stylesheet" href="./css/partials/pageHome.css">
</head>

<body id="pageHome">
    <div id="container">
        <div class="logoContainer">
            <img src="./img/Eventec.svg" alt="Logo" class="logo">
            <h2>Sua plaforma de compartilhamento de eventos</h2>
        </div>

        <img class="ilustra" src="./img/Home.svg" alt="Imagem ilustra o compartilhamento de eventos.">

        <p class="welcome">Seja bem-vindo.<strong>&#32; O que deseja fazer?</strong></p>

        <div class="buttons-container">
            <a class="pesquisar" href="/pesquisar">Pesquisar evento</a>
            <a class="cadastrar" href="/cadastrar">Cadastrar evento</a>
        </div>
    </div>

</body>

</html> 