/* Main - Card Item */
.card-item {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 0.8rem;
    margin-top: 2.4rem;
}

.hidden {
    display: none;
}

.card-item header {
    padding: 3.2rem 2rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
}

.card-item header img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.card-item header div {
    margin-left: 2.4rem;
}

.card-item header div strong {
    font: 700 2.4rem Roboto;
    display: block;
    color: var(--text-color);
}

.card-item header div span {
    font-size: 1.6rem;
    display: block;
    margin-top: .4rem;
    color: var(--text-color-card);
}

.card-item > p {
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
    color: var(--text-color-card);
}

.card-item .cardData {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    margin-top: 3rem;
    margin-bottom: 7rem;
}

.card-item .cardData span {
    color: var(--text-color-card);
}

.card-item .cardData h2 {
    font-size: 2rem;
    color: var(--text-color-card);
}

.card-item .cardData>div {
    margin-right: 3rem;
}

.card-item footer {
    padding: 3.2rem;
    background-color: var(--color-form);
    border-top: 1px solid var(--line-color);
    margin-top: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-item footer p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--text-color-card);
}

.card-item footer button {
    width: 20rem;
    height: 5.6rem;
    background-color: var(--btn-color);
    color: var(--white-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.4rem Roboto;

    transition: background 0.2s;
    text-decoration: none;
    margin-left: 1.6rem;
}

.card-item footer button:hover {
    background: var(--btn-colorh);
}

@media(min-width: 700px) {
    .card-item header,
    .card-item footer {
        padding: 32px;
    }

    .card-item > p {
        padding: 0 32px;
    }

    .card-item .cardData {
        padding: 0 3rem;
    }

    .card-item footer button {
        width: 245px;
        font-size: 16px;
    }
}