/* Form - search */
html,
body {
    height: 100vh;
}
.search {
    margin-top: 3.2rem;
}

#pageEvent .algItem {
    background-color: var(--background-color);
    height: 6rem;
    
    border-radius: .8rem;
    margin-top: 1rem;
    padding: 0 1.6rem;
    font: 1.6rem Roboto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#pageEvent .btn-search{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
#pageEvent .txtBusca {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: var(--dark-text);
    font-size: 16px;
    width: 100%;
}

#pageEvent label {
    font: 2rem Roboto;
}

#search .algItem a {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.txtBusca {
    background: none;
}

/* Page Form ==========================================================================*/
#pageForm input,
#pageForm select,
.textarea-block textarea{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background-color: var(--color-form);
    border: 1px solid var(--color-text-form);
    outline: 0;
    padding: 0 1.6rem;
    font: 1.6rem Roboto;
}
.textarea-block textarea{
    padding: 1.2rem 1.6rem;
    height: 16rem;
    color: var(--dark-text);
    resize: vertical;
}

#pageForm input{
    outline: none;
    padding: 0 1rem;
    color: var(--dark-text);
    font-size: 16px;
    width: 100%;
}

#pageForm label{
    color: var(--text-color-card);
}