html,
body {
    height: 100vh;
}

body{
    background: var(--background-secondary-color);
}
#pageForm #container{
    width: 100vw;
    height: 100vh;
}

#pageForm .page-header .header-content{
    margin-bottom: 6.4rem;
}

/* Form  */

#pageForm main{
    background-color: white;
    width: 100%;
    max-width: 74rem;
    border-radius: .8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
}

#pageForm fieldset+ fieldset{
    margin-top: 6.4rem;
}
#pageForm .input-block + .input-block,
#pageForm .input-block + .textarea-block{
    margin-top: 2.4rem;
}

#pageForm fieldset{
    border: none;

    padding: 0 2.4rem;
}

#pageForm legend{
    font: 700 2.4rem Roboto;
    color: var(--text-color);
    margin-bottom: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding-bottom: 1.6rem;
    border-bottom: 1px solid var(--line-color);
}

#pageForm main footer{
    padding: 4rem 2.4rem;

    background: var(--color-form);
    border-top: 1px solid var(--line-color);
    margin-top: 6.4rem;
}
.schedule-item .select-block + .input-block{
    margin-top: 2.4rem;
}

#pageForm main footer p{
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
    line-height: 2.4rem;

    color: var(--text-color-card);
}
#pageForm main footer p img{
    margin-right: 2rem;
}
#pageForm main footer button{
    width: 100%;
    height: 5.6rem;
    background: var(--btn-color);
    color: var(--white-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Roboto;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition: 0.2s;
    margin-top: 3.2rem;
}
#pageForm main footer button:hover{
    background: var(--btn-colorh);
}
@media (min-width: 700px){
    #pageForm #container{
        max-width: 100vw;
    }

    #pageForm .page-header .header-content{
        margin-bottom: 0;
    }

    #pageForm main fieldset{
        padding: 0 64px;
    }

    .schedule-item{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 1.6rem;
    }
    #schedule-items .schedule-item .select-block + .input-block,
    #pageForm #schedule-items .input-block + .input-block{
        margin-top: 0 ;
    }

    #pageForm main footer{
        padding: 40px 64px;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #pageForm main footer button{
        margin-top: 0;
        width: 200px;
    }
}