<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/global.css">
  <link rel="stylesheet" href="../css/partials/login.css" />
  <title>Login</title>
</head>

<body id="pageSign">

  <!-- Plugin Libras -->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>

  <div class="container pageSign">
    <div class="forms-container">
      <div class="sign">

        <!-- Form access account -->
        <form action="#" class="formSignIn" method="POST" th:action="@{/signInUser}" th:object="${userItem}" >
          <h2 class="titleSign">Acesse sua conta</h2>
          <div class="inputField">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" id="email" name="email"/>
          </div>
          <div class="inputField">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Senha" id="password" name="password" />
          </div>

          <div th:if="${erro}" role="alert" th:text="${erro}" style="color: red">
          </div>

          <a href="/">
          <input type="submit" value="Login" class="btn solid" />
          </a>
        </form>

        <!-- Form Create an account -->
        <form action="#" th:action="@{/registerUser}" th:object="${userItem}" class="formSignUp" method="POST" id="formSignUp">
          <h2 class="titleSign">Crie a sua conta</h2>
          <div class="inputField">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Nome" id="userName" name="userName" />
          </div>
          <div class="inputField">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" id="email" name="email" />
          </div>
          <div class="inputField">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Senha" id="password" name="password" />
          </div>
          <a href="/">
          <input type="submit" class="btn" value="Cadastro" form="formSignUp"/>
          </a>
        </form>

      </div>
    </div>

    <div class="panels-container">
      <!-- Left Panel -->
      <div class="panel left-panel">
        <div class="content">
          <h3>É sua primeira vez aqui?</h3>
          <p>
            Crie uma conta, é rápido, fácil e gratuito! Em apenas alguns cliques, você estará pronto(a) para
            embarcar em uma jornada única.
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Cadastro
          </button>
        </div>
        <img class="image" src="../img/secure-login.svg" alt="" />
      </div>

      <!-- Right Panel -->
      <div class="panel right-panel">
        <div class="content">
          <h3>Bem-vindo(a) de volta!</h3>
          <p>
            Para se manter conectado conosco, faça o Login com suas informações pessoais.
          </p>
          <button class="btn transparent" id="sign-in-btn">
            Login
          </button>
        </div>
        <img class="image" src="../img/login.svg" alt="" />
      </div>
    </div>
  </div>

  <!-- Fontawesome  -->
  <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
  <!-- Script - Login -->
  <script src="../scripts/login.js"></script>

  <!-- Script Libras -->
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
</body>

</html>